*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

#showcase {
  background-image: url('../img/swirlbg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

#fade-in {
  opacity: 0;
  transition: 1s;
}

#showcase #headshot {
  max-width: 400px;
  max-height: 400px;

}

#showcase h1{
  font-size: 50px;
}

#showcase h2 {
  font-size: 35px;
  line-height: 1.5;
}

#showcase h3 {
  font-size: 25px;
}

#showcase #button {
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  border: #b3ecff 1px solid;
  border-radius: 10px;
  margin-top: 10px;
  align-content: center;
  opacity: 0;
  transition: 1.5s;
}

#showcase #button:hover {
  background: #004d66;
  color: white;
}

#testimonials {
  padding: 20px;
  background: black;
  color: white;
  line-height: 1.6;
}

#bio {
  padding: 20px;
  background: #003c5c;
  color: white;
  display: flex;
  border: 2px solid;
  border-color: black;
}

#headshot {
  margin-top: 8px;
  max-width: 300px;
  max-height: 400px;
  border: 1px solid;
  border-color: black;
}

.box-2 {
  margin: 0 20px;
  line-height: 1.8;
}

.test-1 {
  opacity: 0;

}

.test-fade {
  opacity: 1;
  transition: 1s;
}

.test-fade2 {
  opacity: 1;
  transition: 5s;
}
