header {
  background-image: url('../img/tree-birds-image.jpeg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font: 1rem/1.5 var(--bs-font-sans-serif);
}
h1 {
  color: var(--bs-white);
}
/*
#showcase {
  background-image: url('../img/tree-birds-image.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#fade-in {
  display: flex;
  opacity: 0;
  transition: 1s;
}

.fade1 {
  justify-content: flex-start;
  margin-top: 10rem;
  margin-left: 4rem;
  color: white;
  text-shadow: 1px;
}

.fade2 {
  margin-top: 20rem;
  margin-left: 30rem;
  color: white;
}

#showcase #headshot {
  max-width: 400px;
  max-height: 400px;

}

#showcase h1{
  font-size: 50px;
}

#showcase h2 {
  font-size: 35px;
  line-height: 1.5;
}

#showcase h3 {
  font-size: 25px;
  border-bottom: 1px solid white;
}

.book-now {
  padding: 7px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  background: #004d66;
  border: #b3ecff 1px solid;
  border-radius: 10px;
  margin-top: 100px;
  align-content: center;
  transition: 1.5s;
}

.book-now:hover {
  background: #b3ecff;
  color: #004d66;
}



#testimonials {
  margin-top: 4em;
  padding: 20px;
  background: black;
  color: white;
  line-height: 1.6;
}

#bio {
  padding: 20px;
  background: #00304c;
  color: white;
  display: flex;
  border: 2px solid;
  border-color: black;
}

#headshot {
  margin-top: 8px;
  max-height: 317px;
  border: 1px solid;
  border-color: black;
}



.box-2 {
  margin: 0 20px;
  line-height: 1.8;
}

.test-1 {
  opacity: 0;
  margin-top: 30px;
  font-size: 1rem;

}

.test-fade {
  opacity: 1;
  transition: 3s;
}

.test-fade2 {
  opacity: 1;
  transition: 5s;
} */
